<!---
 ============================================
; Title:  about.component.html
; Author: Professor Krasso
; Date: 02 April 2021
; Modified By: Marie Nicole Barleta
; Description: The about component
;===========================================
-->


<div fxLayout="row wrap">
  <!-- Left side of the about-->
    <div fxFlex>
      <div fxLayout="column">
        <div>
          <img src="./assets/about.jpg" />
        </div>
      </div>
    </div>
<!-- End of the left side -->


  <!-- Right side of the about-->
    <div fxFlex class="about">
      <h1>The Nodebucket</h1>
      
      <p>
        The goal is to deliver an easy to use but effective task managing application 
        that will help users arrange their top priority tasks and to help users to track their accomplished tasks. 
      </p>
      <br />
      The Nodebucket team created this application specifically for the following reasons:
      <br />
      
      <ol>
          <li> People are too stressed to determine what the first task to-do. </li>
          <li> People are forgetful. </li>  
          <li> People misplaced the piece of paper with their lists of tasks. </li> 
          <li> People don’t remember if they did the task or not.</li>  
          <li> People like to drag and drop to arrange the order of the tasks. </li>
      </ol>
      <br />

      <p>
      Now that many users are amazed at how this application helped them get through their day, they have been recommending this application to their friends and family. Because they want to share the application that helped them see their tasks of the day and the application that gave them a sense of accomplishment by seeing the list of done tasks.
      </p>
      <br />

      <p>
      This application is a great way to help you manage your time because listing your tasks is the best way to see how your day will flow and not being able to know the flow of your day will be more stressful because you will spend more time in asking “what to do next?” and “what was I supposed to do again”. 
      </p>
      <br />

      <p>
      Keeping track of your task is a good practice because it’s taking away your anxiety and your day can go by peaceful because you know what you are supposed to do and you know what are the things you have accomplished.
      </p>

    </div>
<!-- End of the right side -->

  </div>