.login-container {
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
}

.login-title {
    text-align: center;
    font-size: 48px;
    font-weight: lighter;
}

.login-subtitle {
    text-align: center;
}

.error-message {
    color: red;
    text-align: center;
}