/*
 ============================================
; Title:  home.component.css
; Author: Professor Krasso
; Date: 21 March 2021
; Modified By: Marie Nicole Barleta
; Description: The home component styling
;===========================================
**/

/* Start of the main welcome style */
.main-welcome {
    margin-top: 30px;
  }

  .title {
    text-align: center;
    font-weight: lighter;
  }
  
  .subtitle {
    text-align: center;
    font-size: 14px;
  }
/* End of the main welcome style */