<!---
 ============================================
; Title:  base-layout.component.html
; Author: Professor Krasso
; Date: 21 March 2021
; Modified By: Marie Nicole Barleta
; Description: This page is the base of the nodebucket project
; The parent component of the nodebucket application this base layout
; will show in all of nodebucket's application.
;===========================================
-->



<div fxLayout="column">

  <!-- navigation -->
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <div class="logo">
       nodebucket
      </div>

      <div class="navbar-container">
            <button mat-button routerLink="/" class="navbar">Home</button>
            <button mat-button routerLink="/about" class="navbar">About Us</button>
            <button mat-button (click)="signOut()" class="navbar">Employee Sign Out</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- main content -->
  <div id="page-container" fxFlex>
    <div id="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- footer -->
  <div class="footer" fxFlex>
    <footer>
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
